<a href="https://colab.research.google.com/github/brayannmb/7DaysOfCode-DataScience/blob/main/7DaysOfCode_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Desafio 7 Days of Code - Alura**

Desafio aceito! 

Costumo acompanhar as iniciativas da Alura nas redes sociais e me interesso por novos desafios, ainda mais quando vem diretamente do mestre Paulo Vasconcellos.

No dia 01, o desafio está em fazer a limpeza dos dados do portal [CEAPS](https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Ci%C3%AAncia+de+Dados+1%2F7%3A+Data+Cleaning+and+Preparation&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Java%29+Dia+1%2F7%3A+Consumir+uma+API+de+filmes) (Cota para Exercício da Atividade Parlamentar dos Senadores). Este portal contém as informações sobre as declarações dos senadores no Brasil.

In [1]:
import pandas as pd

In [2]:
df_2022 = pd.read_csv('https://raw.githubusercontent.com/brayannmb/7DaysOfCode-DataScience/main/despesa_ceaps_2022.csv', encoding='1252', sep=';', header=1)

Para poder utilizar o cabeçalho corretamente, foi necessário incluir o parâmetro `header` e escolher a segunda linha do dataframe original.

In [3]:
df_2022.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
1,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615
2,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,14/01/2022,Despesa com produção de texto e edição de víde...,6000,2173616
3,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,18/01/2022,Divulgação da atividade parlamentar,1000,2173618
4,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,17/01/2022,Divulgação da atividade parlamentar,2000,2173617

In [4]:
df_2022.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
7038,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WRREKJ,17/05/2022,"Companhia Aérea: GOL, Localizador: WRREKJ. Pas...","2184,54",2180363
7039,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,SKP1MQ,17/05/2022,"Companhia Aérea: AZUL, Localizador: SKP1MQ. Pa...","2903,15",2180365
7040,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WWDZKA,18/05/2022,"Companhia Aérea: GOL, Localizador: WWDZKA. Pas...","3104,87",2180451
7041,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FMDGER,25/05/2022,"Companhia Aérea: GOL, Localizador: FMDGER. Pas...","2809,47",2180810
7042,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,CXFMUH,27/05/2022,"Companhia Aérea: GOL, Localizador: CXFMUH. Pas...","925,62",2181308

In [5]:
df_2022.sample(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
4831,2022,6,NELSINHO TRAD,Aquisição de material de consumo para uso no e...,14.690.082/0001-58,Microtech Informática Ltda,6701,12/06/2022,Referente ao pagamento da locação do multifunc...,150,2181419
2861,2022,3,HUMBERTO COSTA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,Ádria Viagens e Turismo Ltda Me,DYRFQE,28/03/2022,"Companhia Aérea: GOL, Localizador: DYRFQE. Pas...","1632,64",2177152
5356,2022,4,RANDOLFE RODRIGUES,"Passagens aéreas, aquáticas e terrestres nacio...",14.294.443/0001-47,A. Camacho Torres - VOO Turismo,THBENM,12/04/2022,"Companhia Aérea: AZUL, Localizador: THBENM. Pa...","2548,52",2179500
229,2022,4,ALEXANDRE SILVEIRA,"Aluguel de imóveis para escritório político, c...",40.432.544/0112-62,CLARO S.A,2205901732793,04/05/2022,NaN,"421,79",2179929
3992,2022,2,LUCAS BARRETO,"Locomoção, hospedagem, alimentação, combustíve...",02.163.903/0001-19,Souza & Cavalcante Comércio Ltda,7817,23/02/2022,NaN,"245,04",2175767
5953,2022,5,ROSE DE FREITAS,"Locomoção, hospedagem, alimentação, combustíve...",27.066.273/0002-76,Posto Arvoredo Ltda,000179057,07/05/2022,NaN,"179,01",2181114
1715,2022,4,ELMANO FÉRRER,"Passagens aéreas, aquáticas e terrestres nacio...",02.012.862/0001-60,TAM LINHAS AÉREAS S.A.,JSPNJR,24/04/2022,"Companhia Aérea: TAM, Localizador: JSPNJR. Pas...","3248,74",2178738
4302,2022,3,MAILZA GOMES,Aquisição de material de consumo para uso no e...,17.571.096/0001-40,NEW TIMES EMPREENDIMENTOS,0010,04/03/2022,NaN,"5436,67",2176614
4802,2022,3,NELSINHO TRAD,"Aluguel de imóveis para escritório político, c...",03.501.509/0001-06,Prefeitura Municipal de Campo Grande-MS.,142684322/22-6,15/03/2022,"Referente ao pagamento da 2ª parcela do IPTU, ...","321,46",2176748
1121,2022,1,DANIELLA RIBEIRO,"Contratação de consultorias, assessorias, pesq...",10.574.821/0001-95,PB Agora Serviços de Internet e Comunicações LTDA,1001284,19/01/2022,NaN,2000,2173421

Com base nas visualizações acima, é possível identificar algumas inconsistências nos dados, como três colunas com a mesma finalidade de representar a data e diversos valores nulos para a variável de detalhamento.

O próximo passo é verificar como estão os tipos de dados de cada uma das variáveis.

In [6]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                7043 non-null   int64
 1   MES                7043 non-null   int64
 2   SENADOR            7043 non-null   object
 3   TIPO_DESPESA       7043 non-null   object
 4   CNPJ_CPF           7043 non-null   object
 5   FORNECEDOR         7043 non-null   object
 6   DOCUMENTO          6694 non-null   object
 7   DATA               7043 non-null   object
 8   DETALHAMENTO       3737 non-null   object
 9   VALOR_REEMBOLSADO  7043 non-null   object
 10  COD_DOCUMENTO      7043 non-null   int64
dtypes: int64(3), object(8)
memory usage: 605.4+ KB

Com base nos resultados apresentados do comando `.info()`, as colunas `Detalhamento` e `Documento` possuem valores inválidos. O tipo de dado variável `Data` foi identificada e classificada incorretamente.

Para corrigir os problemas apresentados agora, seguirei algumas etapas, como remoção de colunas, alteração do tipo de dados a análise dos valores nulos.

In [7]:
df_clean = df_2022.copy()

In [8]:
df_clean.drop(columns=['ANO', 'MES'], inplace=True)

In [9]:
df_clean.columns

Index(['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO',
       'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO', 'COD_DOCUMENTO'],
      dtype='object')

In [10]:
df_clean['DATA'] = pd.to_datetime(df_clean['DATA'], format='%d/%m/%Y')

In [11]:
df_clean['VALOR_REEMBOLSADO'] = df_clean['VALOR_REEMBOLSADO'].apply(lambda x: x.replace(',', '.'))
df_clean['VALOR_REEMBOLSADO'] = df_clean['VALOR_REEMBOLSADO'].astype('float64')

In [12]:
df_clean[['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DETALHAMENTO', 'COD_DOCUMENTO']] = df_clean[['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DETALHAMENTO', 'COD_DOCUMENTO']].astype('string')

In [13]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SENADOR            7043 non-null   string
 1   TIPO_DESPESA       7043 non-null   string
 2   CNPJ_CPF           7043 non-null   string
 3   FORNECEDOR         7043 non-null   string
 4   DOCUMENTO          6694 non-null   string
 5   DATA               7043 non-null   datetime64[ns]
 6   DETALHAMENTO       3737 non-null   string
 7   VALOR_REEMBOLSADO  7043 non-null   float64
 8   COD_DOCUMENTO      7043 non-null   string
dtypes: datetime64[ns](1), float64(1), string(7)
memory usage: 495.3 KB

In [14]:
df_clean

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,2022-01-03,Despesa com pagamento de aluguel de imóvel par...,6000.00,2173614
1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,2022-01-04,Despesa com divulgação da atividade parlamenta...,1500.00,2173615
2,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,2022-01-14,Despesa com produção de texto e edição de víde...,6000.00,2173616
3,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,2022-01-18,Divulgação da atividade parlamentar,1000.00,2173618
4,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,2022-01-17,Divulgação da atividade parlamentar,2000.00,2173617
...,...,...,...,...,...,...,...,...,...
7038,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WRREKJ,2022-05-17,"Companhia Aérea: GOL, Localizador: WRREKJ. Pas...",2184.54,2180363
7039,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,SKP1MQ,2022-05-17,"Companhia Aérea: AZUL, Localizador: SKP1MQ. Pa...",2903.15,2180365
7040,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WWDZKA,2022-05-18,"Companhia Aérea: GOL, Localizador: WWDZKA. Pas...",3104.87,2180451
7041,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FMDGER,2022-05-25,"Companhia Aérea: GOL, Localizador: FMDGER. Pas...",2809.47,2180810
7042,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,CXFMUH,2022-05-27,"Companhia Aérea: GOL, Localizador: CXFMUH. Pas...",925.62,2181308

In [15]:
df_clean['SENADOR'] = df_clean['SENADOR'].apply(lambda x: x.title())

In [16]:
df_clean['FORNECEDOR'] = df_clean['FORNECEDOR'].apply(lambda x: x.title())

In [23]:
df_2019 = pd.read_csv('https://raw.githubusercontent.com/brayannmb/7DaysOfCode-DataScience/main/despesa_ceaps_2019.csv', encoding='1252', sep=';', header=1)

In [24]:
df_2019.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,"99,45",2116550

In [40]:
def join_dataframes(years):
  df = pd.DataFrame()
  for year in years:
    df_aux = pd.read_csv(f'https://raw.githubusercontent.com/brayannmb/7DaysOfCode-DataScience/main/despesa_ceaps_{year}.csv', encoding='1252', sep=';', header=1)
    df_clean = df_aux.copy()
    df_clean.drop(columns=['ANO', 'MES'], inplace=True)
    df_clean['DATA'] = pd.to_datetime(df_clean['DATA'], format='%d/%m/%Y')
    df_clean['VALOR_REEMBOLSADO'] = df_clean['VALOR_REEMBOLSADO'].apply(lambda x: x.replace(',', '.'))
    df_clean['VALOR_REEMBOLSADO'] = df_clean['VALOR_REEMBOLSADO'].astype('float64') 
    df_clean[['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DETALHAMENTO', 'COD_DOCUMENTO']] = df_clean[['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DETALHAMENTO', 'COD_DOCUMENTO']].astype('string') 
    df_clean['SENADOR'] = df_clean['SENADOR'].apply(lambda x: x.title())
    df_clean['FORNECEDOR'] = df_clean['FORNECEDOR'].apply(lambda x: x.title())
    df_final = df.append(df_clean)
    print(f'Dataframe referente ao ano: {year} foi inserido.')
    return df

years = ['2022']
df_final = join_dataframes(years)

Dataframe referente ao ano: 2022 foi inserido.

In [50]:
df= pd.read_csv(f'https://raw.githubusercontent.com/brayannmb/7DaysOfCode-DataScience/main/despesa_ceaps_2019.csv', encoding='1252', sep=';', header=1)

In [51]:
from datetime import datetime
for index, row in df.iterrows():
  try:
    df.loc[index, 'DATA'] = datetime.strptime(row['DATA'], '%d/%m/%Y')
  except Exception as e:
    print(index)
    print(e)

In [53]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,2019-01-04 00:00:00,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,2019-01-04 00:00:00,Despesa com pagamento de energia elétrica do e...,"139,98",2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,2019-01-07 00:00:00,Despesa com pagamento de aluguel de imóvel par...,6000,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,2018-12-25 00:00:00,Despesa com pagamento de telefonia para o escr...,"316,39",2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,2019-02-04 00:00:00,Despesa com pagamento de energia elétrica para...,"99,45",2116550