<a href="https://colab.research.google.com/github/brayannmb/7DaysOfCode-DataScience/blob/main/7DaysOfCode_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Desafio 7 Days of Code - Alura**

Desafio aceito! 

Costumo acompanhar as iniciativas da Alura nas redes sociais e me interesso por novos desafios, ainda mais quando vem diretamente do mestre Paulo Vasconcellos.

No dia 01, o desafio está em fazer a limpeza dos dados do portal [CEAPS](https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Ci%C3%AAncia+de+Dados+1%2F7%3A+Data+Cleaning+and+Preparation&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Java%29+Dia+1%2F7%3A+Consumir+uma+API+de+filmes) (Cota para Exercício da Atividade Parlamentar dos Senadores). Este portal contém as informações sobre as declarações dos senadores no Brasil.

In [2]:
import pandas as pd

In [52]:
df_2022 = pd.read_csv('https://raw.githubusercontent.com/brayannmb/7DaysOfCode-DataScience/main/despesa_ceaps_2022.csv', encoding='1252', sep=';', header=1)

Para poder utilizar o cabeçalho corretamente, foi necessário incluir o parâmetro `header` e escolher a segunda linha do dataframe original.

In [54]:
df_2022.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
1,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615
2,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,14/01/2022,Despesa com produção de texto e edição de víde...,6000,2173616
3,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,18/01/2022,Divulgação da atividade parlamentar,1000,2173618
4,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,17/01/2022,Divulgação da atividade parlamentar,2000,2173617

In [55]:
df_2022.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
7038,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WRREKJ,17/05/2022,"Companhia Aérea: GOL, Localizador: WRREKJ. Pas...","2184,54",2180363
7039,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,SKP1MQ,17/05/2022,"Companhia Aérea: AZUL, Localizador: SKP1MQ. Pa...","2903,15",2180365
7040,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WWDZKA,18/05/2022,"Companhia Aérea: GOL, Localizador: WWDZKA. Pas...","3104,87",2180451
7041,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FMDGER,25/05/2022,"Companhia Aérea: GOL, Localizador: FMDGER. Pas...","2809,47",2180810
7042,2022,5,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,CXFMUH,27/05/2022,"Companhia Aérea: GOL, Localizador: CXFMUH. Pas...","925,62",2181308

In [56]:
df_2022.sample(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
5042,2022,3,PAULO PAIM,"Contratação de consultorias, assessorias, pesq...",07.921.300/0001-52,Shopse Tecnologia Ltda,5551,11/03/2022,Despesa com serviço de hospedagem website.,250,2180013
1259,2022,3,DÁRIO BERGER,Divulgação da atividade parlamentar,01.887.142/0001-85,SOCIEDADE JORNALÍSTICA DIÁRIO DO IGUAÇU LTDA,9610-a1,25/03/2022,NaN,700,2178203
4205,2022,4,LUIS CARLOS HEINZE,"Locomoção, hospedagem, alimentação, combustíve...",33.469.172/0022-92,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,26292,27/04/2022,NaN,"120,34",2179045
3405,2022,3,JAYME CAMPOS,"Locomoção, hospedagem, alimentação, combustíve...",23.266.379/0001-81,TRANSAMERICA COM E SERV. LTDA,00021995,30/03/2022,NaN,"934,5",2177354
6155,2022,3,SORAYA THRONICKE,"Locomoção, hospedagem, alimentação, combustíve...",19.131.346/0001-57,Comercio de combustiveis Tres Lagoas,351485,26/03/2022,NaN,"255,02",2177744
6592,2022,4,WELLINGTON FAGUNDES,"Locomoção, hospedagem, alimentação, combustíve...",04.285.663/0001-50,Auto Posto do Núcleo LTDA,318085,01/04/2022,Despesa com combustível para veículo utilizado...,200,2177603
3887,2022,2,LASIER MARTINS,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,MPYQYG,09/02/2022,"Companhia Aérea: LATAM, Localizador: MPYQYG. P...","1606,95",2174846
1174,2022,4,DANIELLA RIBEIRO,"Contratação de consultorias, assessorias, pesq...",44.271.004/0001-80,Alessandra do Nascimento Silva/ THEA Comunicações,202200000000012,25/04/2022,NaN,700,2179163
2767,2022,2,HUMBERTO COSTA,"Locomoção, hospedagem, alimentação, combustíve...",32.463.712/0001-33,Rodolfo Rodrigues Vieira da Silva Eireli,13039,17/02/2022,Aquisição de combustível para veículos utiliza...,"269,05",2175393
589,2022,4,CARLOS PORTINHO,"Locomoção, hospedagem, alimentação, combustíve...",09.547.694/0001-56,REDE OSORIOS DE MARICA COMERCIO DE GAS NAT,788415,02/04/2022,viagem ao interior do estado,"349,99",2177710

Com base nas visualizações acima, é possível identificar algumas inconsistências nos dados, como três colunas com a mesma finalidade de representar a data e diversos valores nulos para a variável de detalhamento.

O próximo passo é verificar como estão os tipos de dados de cada uma das variáveis.

In [57]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                7043 non-null   int64
 1   MES                7043 non-null   int64
 2   SENADOR            7043 non-null   object
 3   TIPO_DESPESA       7043 non-null   object
 4   CNPJ_CPF           7043 non-null   object
 5   FORNECEDOR         7043 non-null   object
 6   DOCUMENTO          6694 non-null   object
 7   DATA               7043 non-null   object
 8   DETALHAMENTO       3737 non-null   object
 9   VALOR_REEMBOLSADO  7043 non-null   object
 10  COD_DOCUMENTO      7043 non-null   int64
dtypes: int64(3), object(8)
memory usage: 605.4+ KB

Com base nos resultados apresentados do comando `.info()`, as colunas `Detalhamento` e `Documento` possuem valores inválidos. O tipo de dado variável `Data` foi identificada e classificada incorretamente.

Para corrigir os problemas apresentados agora, seguirei algumas etapas, como remoção de colunas, alteração do tipo de dados a análise dos valores nulos.

In [58]:
df_clean = df_2022.copy()

In [59]:
df_clean.drop(columns=['ANO', 'MES'], inplace=True)

In [61]:
df_clean.columns

Index(['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO',
       'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO', 'COD_DOCUMENTO'],
      dtype='object')

In [65]:
df_clean['DATA'] = pd.to_datetime(df_clean['DATA'], format='%d/%m/%Y')

In [67]:
df_clean['VALOR_REEMBOLSADO'] = df_clean['VALOR_REEMBOLSADO'].apply(lambda x: x.replace(',', '.'))
df_clean['VALOR_REEMBOLSADO'] = df_clean['VALOR_REEMBOLSADO'].astype('float64')

In [69]:
df_clean[['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DETALHAMENTO', 'COD_DOCUMENTO']] = df_clean[['SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DETALHAMENTO', 'COD_DOCUMENTO']].astype('string')

In [70]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SENADOR            7043 non-null   string
 1   TIPO_DESPESA       7043 non-null   string
 2   CNPJ_CPF           7043 non-null   string
 3   FORNECEDOR         7043 non-null   string
 4   DOCUMENTO          6694 non-null   string
 5   DATA               7043 non-null   datetime64[ns]
 6   DETALHAMENTO       3737 non-null   string
 7   VALOR_REEMBOLSADO  7043 non-null   float64
 8   COD_DOCUMENTO      7043 non-null   string
dtypes: datetime64[ns](1), float64(1), string(7)
memory usage: 495.3 KB

In [71]:
df_clean

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,2022-01-03,Despesa com pagamento de aluguel de imóvel par...,6000.00,2173614
1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,2022-01-04,Despesa com divulgação da atividade parlamenta...,1500.00,2173615
2,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,2022-01-14,Despesa com produção de texto e edição de víde...,6000.00,2173616
3,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,2022-01-18,Divulgação da atividade parlamentar,1000.00,2173618
4,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,2022-01-17,Divulgação da atividade parlamentar,2000.00,2173617
...,...,...,...,...,...,...,...,...,...
7038,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WRREKJ,2022-05-17,"Companhia Aérea: GOL, Localizador: WRREKJ. Pas...",2184.54,2180363
7039,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,SKP1MQ,2022-05-17,"Companhia Aérea: AZUL, Localizador: SKP1MQ. Pa...",2903.15,2180365
7040,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WWDZKA,2022-05-18,"Companhia Aérea: GOL, Localizador: WWDZKA. Pas...",3104.87,2180451
7041,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,FMDGER,2022-05-25,"Companhia Aérea: GOL, Localizador: FMDGER. Pas...",2809.47,2180810
7042,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,CXFMUH,2022-05-27,"Companhia Aérea: GOL, Localizador: CXFMUH. Pas...",925.62,2181308

In [72]:
df_clean['SENADOR'] = df_clean['SENADOR'].apply(lambda x: x.title())

In [74]:
df_clean['FORNECEDOR'] = df_clean['FORNECEDOR'].apply(lambda x: x.title())

In [75]:
df_clean.head()

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,Acir Gurgacz,"Aluguel de imóveis para escritório político, c...",004.948.028-63,Gilberto Piselo Do Nascimento,001/22,2022-01-03,Despesa com pagamento de aluguel de imóvel par...,6000.0,2173614
1,Acir Gurgacz,Divulgação da atividade parlamentar,26.320.603/0001-64,Informanahora,000000000000310/A,2022-01-04,Despesa com divulgação da atividade parlamenta...,1500.0,2173615
2,Acir Gurgacz,Divulgação da atividade parlamentar,13.659.201/0001-47,Linha Purpura Foto E Video Ltda,107,2022-01-14,Despesa com produção de texto e edição de víde...,6000.0,2173616
3,Acir Gurgacz,Divulgação da atividade parlamentar,23.652.846/0001-01,Roberto Gutierrez Da Rocha M.E.I.,187,2022-01-18,Divulgação da atividade parlamentar,1000.0,2173618
4,Acir Gurgacz,Divulgação da atividade parlamentar,08.941.827/0001-01,Rondonia Dinâmica Com. E Serv. De Informática ...,000000000001772/A,2022-01-17,Divulgação da atividade parlamentar,2000.0,2173617

In [77]:
df_clean.describe(include='all')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
count,7043,7043,7043,7043,6694,7043,3737,7043.000000,7043
unique,83,7,1847,1920,6077,203,2381,NaN,7043
top,Humberto Costa,"Locomoção, hospedagem, alimentação, combustíve...",16.978.175/0001-08,Adria Viagens E Turismo Ltda,s/n,2022-05-02 00:00:00,DESPESA COM COMBUSTÍVEL EM VEÍCULOS UTILIZADOS...,NaN,2173614
freq,248,2732,512,345,29,120,173,NaN,1
first,NaN,NaN,NaN,NaN,NaN,2002-02-02 00:00:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2022-06-29 00:00:00,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1572.054968,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2904.537543,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.010000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.710000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77012.000000,NaN

In [80]:
df_clean['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   2732
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 1437
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           1379
Divulgação da atividade parlamentar                                                                                                                                                                 510
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      498
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                              477
Serviços de Segurança Privada                                                                                                                                                                        10
Name: TIPO_DESPESA, dtype: Int64

In [83]:
df_clean.loc[df_clean['TIPO_DESPESA'] == 'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes']

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
28,Acir Gurgacz,"Locomoção, hospedagem, alimentação, combustíve...",84.010.040/0025-81,Pioneiro Combustiveis Ltda,000001156,2022-03-08,Despesa com aquisição de combustível para abas...,2860.0,2176688
29,Acir Gurgacz,"Locomoção, hospedagem, alimentação, combustíve...",84.010.040/0025-81,Pioneiro Combustiveis Ltda,000001178,2022-03-25,Despesa com combustível para abastecimento de ...,2860.0,2177636
30,Acir Gurgacz,"Locomoção, hospedagem, alimentação, combustíve...",84.010.040/0025-81,Pioneiro Combustiveis Ltda,000001183,2022-03-30,Despesa com aquisição de combustível para abas...,2888.6,2178312
31,Acir Gurgacz,"Locomoção, hospedagem, alimentação, combustíve...",84.707.538/0001-20,Yuri Comércio De Combustíveis Ltda,000.012.204,2022-03-10,Despesa com aquisição de combustível para abas...,4260.0,2176692
32,Acir Gurgacz,"Locomoção, hospedagem, alimentação, combustíve...",84.707.538/0001-20,Yuri Comércio De Combustíveis Ltda,000.012.228,2022-03-22,Despesa com aquisição de combustível para abas...,2840.0,2176697
...,...,...,...,...,...,...,...,...,...
7029,Zequinha Marinho,"Locomoção, hospedagem, alimentação, combustíve...",37.808.513/0001-33,Rota Auto Posto Combustivel Eireli,000028696,2022-05-02,<NA>,200.0,2179899
7030,Zequinha Marinho,"Locomoção, hospedagem, alimentação, combustíve...",37.808.513/0001-33,Rota Auto Posto Combustivel Eireli,028958,2022-05-08,<NA>,200.0,2180859
7031,Zequinha Marinho,"Locomoção, hospedagem, alimentação, combustíve...",12.475.787/0001-27,S M De Oliveira Restaurante Eireli-Epp,105616,2022-05-18,<NA>,32.0,2180858
7032,Zequinha Marinho,"Locomoção, hospedagem, alimentação, combustíve...",12.475.787/0001-27,S M De Oliveira Restaurante Eireli-Epp,105676,2022-05-19,<NA>,48.0,2180801
7033,Zequinha Marinho,"Locomoção, hospedagem, alimentação, combustíve...",31.360.727/0001-03,Tres Castros Ltda.,1527,2022-05-04,<NA>,327.0,2180809

In [87]:
df_clean.groupby(by=['TIPO_DESPESA']).count()

,SENADOR,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
TIPO_DESPESA,,,,,,,,
"Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.",1379,1379,1379,1209,1379,508,1379,1379
"Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.",498,498,498,496,498,142,498,498
"Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar",477,477,477,477,477,249,477,477
Divulgação da atividade parlamentar,510,510,510,510,510,173,510,510
"Locomoção, hospedagem, alimentação, combustíveis e lubrificantes",2732,2732,2732,2556,2732,1228,2732,2732
"Passagens aéreas, aquáticas e terrestres nacionais",1437,1437,1437,1436,1437,1430,1437,1437
Serviços de Segurança Privada,10,10,10,10,10,7,10,10